body {
  margin: 0;
  padding: 0;
}

.whole-div-control-section {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: auto;
  flex-direction: column;
}

/*user profile div */

.invite-above-content-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;
}

.invite-inside-profile-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  width: 96%;
}
.user-profile-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 2.8em;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}

.profile-image {
  width: 3em;
  height: 2.4em;
  border-radius: 50%;
}

.section-inside-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 50em;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* about invite div container */

.about-invite-div-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50em;
  border-radius: 20px;
}

.about-inside-div {
  display: flex;
  width: 100%;
}

.about-image {
  width: 100%;
  height: 50em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #fff;
}

/* invite form div container */

.invite-form-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.invite-form-inside-div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 47em;
  gap: 2em;
  border-radius: 10px;
}

/* our side invite */

.our-side-head-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fresh-logo-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fresh-logo {
  width: 60%;
}

.content {
  margin: 0;
  padding: 0;
  font-size: 19px;
}
/* invite form div */
#invite-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.4em;
}

.invite-content-div {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.invite-label {
  font-size: 1.36em;
}

.party-page-input {
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 24em;
  height: 3em;
  outline: none;
}

.party-page-input:focus {
  outline: none;
  border-color: #5dace9;
  box-shadow: 0 0 0 0.2rem rgba(67, 155, 213, 0.25);
}

.party-slogan-textarea {
  resize: none;
  width: 24em;
  height: 6em;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.party-slogan-textarea:focus {
  outline: none;
  border-color: #5dace9;
  box-shadow: 0 0 0 0.2rem rgba(67, 155, 213, 0.25);
}

.party-page-textarea {
  resize: none;
  width: 24em;
  height: 12em;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.party-page-textarea:focus {
  outline: none;
  border-color: #5dace9;
  box-shadow: 0 0 0 0.2rem rgba(67, 155, 213, 0.25);
}

/* inivte button css */

.invite-button-div {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#invite-button {
  width: 10em;
  height: 1.7em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-color: #4481eb;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

.mandatory {
  color: rgb(248, 149, 149);
}

.choose-file-button {
  width: 45%;
  padding: 9px 5px;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  border: none;
  background-color: #4481eb;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
}
