body {
  background-color: #f7faff;
}

.div-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.main-div {
  border: 0.4px solid rgb(195, 193, 193);
  border-radius: 10px;
  width: 400px;
  height: 500px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 480px;
  gap: 3em;
  margin: 20px;
}

.content-container-logo {
  width: 43%;
  padding-top: 25px;
}

/* birthday image and input container */

.birthday-image-and-input-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
}

/* celebration div */

.celebration-div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* first ballon */

.first-ballon-div {
  display: flex;
  width: 23%;
}

.first-ballon-div-image {
  width: 100%;
  height: 100%;
}

/* cake image */

.cake-div {
  display: flex;
  width: 23%;
}

.cake-div-image {
  width: 100%;
  height: 100%;
}

/* last ballon */

.last-ballon-div {
  display: flex;
  width: 23%;
}

.last-ballon-div-image {
  width: 100%;
  height: 100%;
}

/* birthday page input container */

.birthday-all-input-div-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

/* birthday input div  */

.birthday-input-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#date-of-birth {
  padding: 10px 10px;
  font-size: 18px;
}

#birthday {
  width: 12em;
  height: 2em;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(16, 152, 231);
  color: #fff;
  padding: 3px;
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
}

#birthday:focus {
  outline: none;
  box-shadow: 0 0 0 1.6px hsla(206, 71%, 52%, 0.8);
}

/* gender selection csss button */
.input-label-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.gender-label-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-selection-div {
  display: flex;
  align-items: center;
  width: 57%;
  gap: 8%;
}

.form-check {
  display: flex;
  align-items: flex-start;
}
/* next and previous button css */

.submit-and-previous-button-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next-back-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.next-button {
  padding: 8px 28px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #25aae1, #4481eb);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  border: none;
  color: #fff;
}

.previous-arrow {
  font-size: 2em;
  color: rgb(239, 184, 3, 1);
}
