body {
  background-image: linear-gradient(#ead6ef, #a0f1ea);
  background-size: no-repeat;
  background-size: 100% 100%;
  height: 900px;
}

.main-div {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.content-container {
  height: 450px;
  width: 350px;
  border: 3px solid rgb(11, 1, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#email {
  padding: 10px 50px;
  border-radius: 5px;
  border: 1px grey solid;
}

.image-div {
  width: 100%;
}

.image-div-image {
  width: 60%;
}

.label-div {
  width: 100%;
  line-height: 65px;
}

.back-div {
  display: flex;
  align-items: center;
}

.get-otp-div {
  padding: 7px 12px;
  border-radius: 5px;
  border: grey 1px solid;
}

.back-button {
  padding: 7px 14px;
}
