body {
  background-color: #f7faff;
  font-family: "Kanit", sans-serif;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* nav css */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.nav-inside-div {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 4em;
}

.logo {
  width: 8em;
  height: 2.9em;
}

.user-avatar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3em;
  height: 3.5em;
  border: 1px solid red;
  border-radius: 2.4em;
}

.user-avatar-image {
  width: 3.7em;
  height: 3em;
  border-radius: 2em;
}

/* side bar div */

.whole-section-container {
  display: flex;
}

.side-bar-div-container {
  display: flex;
  justify-content: center;
  width: 13em;
  height: 37em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.side-bar-option-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* image edit option */

.crop-option-div,
.emoji-edit-div,
.sticker-edit-div,
.filters-edit-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 2.5em;
}

/* image chage option div container */

.image-change-option-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
  height: 40em;
}

/* image div */

.image-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 90%;
}

.image-div {
  width: 20em;
  height: 25em;
}
