body {
  background-color: #f7faff;
  font-family: "Kanit", sans-serif;
}

* body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsla(0, 0%, 100%, 0);
  background-color: white;
  z-index: 10;
  box-shadow: 0 0 0 rgb(0 40 100 / 0%);
  transition: all 0.25s ease-in-out;
  transform: translateZ(1000px);
  padding: 0em 1.7em;
}

/* nav-logo */

.nav-logo-div {
  display: flex;
}

.nav-logo-div-image {
  width: 42%;
}

/* nav uer logo */

.nav-user-div {
  display: flex;
  width: 3%;
}

.nav-user-div-image {
  width: 100%;
}

/* section */

.main-section-container {
  display: flex;
}
/* side-bar */

.side-bar-section-container {
  margin-top: 4em;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 19%;
  background-color: #189ab4;
}

/* side-bar-option */

.side-bar-option-div {
  display: flex;
  flex-direction: column;
  padding: 2em 1em 0em 2em;
  line-height: 3em;
}

/* recent */
.recent-image-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
}

/* all photos */

.all-photos-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
}

/* favourite */

.favourite-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
}

/* recently deleted */

.recent-delete-div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5%;
}
/* second section */

.second-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20.5%;
  padding-top: 6.5%;
  gap: 2em;
  max-width: 100%;
  overflow-x: scroll;
}

/* first-image div*/

.section-second-first-image-container {
  display: flex;
  width: 100%;
  gap: 3em;
}

.first-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.first-image-div-image {
  width: 234px;
  height: 235px;
}

/* second-image  div*/

.second-image-div {
  display: flex;
  width: 100%;
  height: auto;
}

.second-image-div-image {
  width: 234px;
  height: 235px;
}

/* third image */

.third-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.third-image-div-image {
  width: 234px;
  height: 235px;
}

/* fourth image */

.fourth-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.fourth-image-div-image {
  width: 234px;
  height: 235px;
}

/* second images div */

.section-second-second-image-container {
  display: flex;
  width: 100%;
  gap: 3em;
}

.fifth-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.fifth-image-div-image {
  width: 234px;
  height: 235px;
}

/* sixth image */

.sixth-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.sixth-image-div-image {
  width: 234px;
  height: 235px;
}

/* seventh image */

.seventh-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.seventh-image-div-image {
  width: 234px;
  height: 235px;
}

/* eight image */

.eighth-image-div {
  display: flex;
  width: 100%;
  height: 100%;
}

.eighth-image-div-image {
  width: 234px;
  height: 235px;
}

/* media Quary */
@media only screen and (max-width: 600px) {
  * body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

  /* navigation bar */

  .nav-bar-container {
    display: flex;
    margin: 3em;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* nav-logo */

  .nav-logo-div {
    display: flex;
    width: 100%;
  }

  .nav-logo-div-image {
    width: 23%;
  }

  /* nav uer logo */

  .nav-user-div {
    display: flex;
    width: 8%;
  }

  .nav-user-div-image {
    width: 100%;
  }

  /* section */

  .main-section-container {
    display: flex;
    width: 100%;
  }

  .side-bar-section-container {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 11%;
  }

  #side-bar-anger {
    display: none;
  }

  .side-bar-option-div {
    margin: 64% 1% 0% 16%;
    gap: 6%;
    padding: 0;
  }
}
