body {
  background-color: #f7faff;
  font-family: "Kanit", sans-serif;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsla(0, 0%, 100%, 0);
  background-color: white;
  z-index: 10;
  box-shadow: 0 0 0 rgb(0 40 100 / 0%);
  transition: all 0.25s ease-in-out;
  transform: translateZ(1000px);
  padding: 0em 1.7em;
}

.logo-div {
  display: flex;
}

.logo-div-image {
  width: 40%;
}

/* user div */

.user-div {
  display: flex;
  width: 3%;
}

.user-div-image {
  width: 100%;
}

/* section first side bar */

/* side bar */

.whole-section-container {
  display: flex;
  margin: 16vh 0vh 0vh 0vh;
}

.section-side-bar-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 37vh;
  background-color: #d4f1f4;
}

.side-bar-content-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 75%;
  padding: 15vh 0vh 0vh 4vh;
}

/* side bar all  */

.side-bar-a-container {
  display: flex;
  flex-direction: column;

  gap: 1.2em;
}

.edit-div {
  display: flex;
  gap: 3.2%;
}

.edit-image {
  width: 11%;
}

.sticker-div {
  display: flex;
  gap: 3.2%;
}

.sticker-image {
  width: 11%;
}

/* button */

.button-div {
  display: flex;
}

.button-div-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3em;

  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  width: 165px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;

  transition: all 0.4s ease-in-out;
}

.send-image {
  width: 20%;
}

/* send button focus */

.button-div-send-btn:hover {
  background-position: 100% 0;

  transition: all 0.4s ease-in-out;
}

/* send button focus */

.button-div-send-btn:focus {
  outline: none;
}

/* second section */

.section-second-container {
  display: flex;
  width: 100vw;
  height: 100vw;
}

/* picture div contaner */

.picture-div-container {
  display: flex;
  justify-content: center;
  gap: 6vw;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* left arrow */

.left-arrow-div {
  display: flex;
}

.left-arrow-div-image {
  width: 50%;
}

/* picture div */

.picture-div {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.picture-div-image {
  width: 100vh;
  height: 94vh;
}

/* right arrow */

.right-arrow-div {
  display: flex;
}

.right-arrow-div-image {
  width: 50%;
}

/* picture editing option */

.edit-option-div {
  display: flex;
  flex-direction: column;
  width: 7vw;
}

.crop-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crop-image {
  width: 30%;
}

.saturation-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saturation-image {
  width: 30%;
}

.filters-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-image {
  width: 30%;
}

/* media Quary */

@media only screen and (max-width: 600px) {
  * body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  /* navigation bar */

  .nav-container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  .logo-div {
    width: 100vh;
  }

  .logo-div-image {
    width: 26vw;
    height: 6.3vh;
  }

  .user-div {
    width: 18vw;
    height: 6vh;
  }

  .user-div-image {
    width: 100%;
  }

  /* section */

  /* side-bar */

  .whole-section-container {
    width: 100vw;
    height: 100vh;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
  }

  .section-side-bar-container {
    display: none;
    top: 0;
    bottom: 0;
    width: 13%;
  }

  .side-bar-content-div {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 116% 0% 200% 0%;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .side-bar-a-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .edit-div,
  .sticker-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .side-bar-anger {
    display: none;
  }

  .edit-image {
    width: 33%;
  }

  .sticker-image {
    width: 33%;
  }

  .button-div {
    width: 67%;
    height: auto;
  }

  .send-image {
    width: 54%;
  }

  /* picture div */

  .section-second-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 8% 1% 0% 10%;
  }

  .picture-div-container {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex: 3;
    height: auto;
    gap: 0.5%;
  }

  .left-arrow-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .picture-div {
    display: flex;
    align-items: center;
    width: 100vh;
  }

  .right-arrow-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  /* edit option div  */

  .edit-option-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.5;
  }

  .crop-div {
    display: flex;
    width: 30%;
  }

  .crop-image {
    width: 100%;
  }
  .saturation-div {
    display: flex;
    width: 30%;
  }

  .saturation-image {
    width: 100%;
  }

  .filters-div {
    display: flex;
    width: 30%;
  }

  .filter-image {
    width: 100%;
  }

  .edit-content {
    font-size: 11px;
  }
}
