body {
  background-color: #f7faff;
  font-family: kanit;
}

* body {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 8em;
  padding: 5em 3em;
}

.header-first-main-container {
  display: flex;
  padding: 12em 0.5em 3em 5em;
}

.header-first-main-container-control-div {
  display: flex;

  flex: 0.45;
}

.header-first-container-flex-div {
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.header-hello-user-div {
  display: flex;
}

/* hello user */

.header-hello-user-div-content {
  font-size: 30px;
  font-weight: 700;
}

/* joyfull user content */

.joyfull-div {
  display: flex;
}

.joyfull-div-content {
  font-size: 38px;
}

.joyfull-user-content-word {
  color: rgb(44 87 151 / 75%);
  font-family: Ewert;
}
.header-hello-user-div-image {
  width: 10%;
}

/* header-para */

.header-first-para-div {
  display: flex;
}

.header-first-para-div-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: justify;
}
/* try for free button */

.hero-section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  width: 210px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;

  transition: all 0.4s ease-in-out;
}

/* free use button hover */

.hero-section-button:hover {
  background-position: 100% 0;

  transition: all 0.4s ease-in-out;
}

/* free use button focus */

.hero-section-button:focus {
  outline: none;
}

/* free use button over */

/* header video start */

.header-video-container {
  display: flex;
  flex: 0.45;
  position: relative;
  perspective: 100px;
  height: auto;
}

.header-video-container-div {
  position: absolute;
  transform: rotateY(-4deg);
}

.header-video-container-div-video {
  display: flex;
  width: 101%;
}

/* section-first-div */

.section-first-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.first-section-container {
  display: flex;
  justify-content: space-between;
}

/* still feature start */

.first-section-container-still-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-section-container-still-div-image-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-container-still-div-image-div-image {
  width: 62%;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

  transition: transform 1s ease 0s;
}

/* still feature hover */

.first-section-container-still-div-image-div-image:hover {
  transform: perspective(3000px) rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.first-section-still-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-still-about-div-para {
  width: 80%;
  text-align: justify;
}

/* first section nest feature */

.first-section-nest-feature-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-section-container-nest-div-image-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-container-nest-div-image-div-image {
  width: 62%;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

  transition: transform 1s ease 0s;
}

/* nest feature hover */

.first-section-container-nest-div-image-div-image:hover {
  transform: perspective(3000px) rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.first-section-nest-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-nest-about-div-para {
  width: 90%;
  text-align: justify;
}

/* first section rolling feature */

.first-section-container-rolling-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-section-container-rolling-div-image-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-container-rolling-div-image-div-image {
  width: 27%;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

  transition: transform 1s ease 0s;
}

/* Rolling feature hover */

.first-section-container-rolling-div-image-div-image:hover {
  transform: perspective(3000px) rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.first-section-rolling-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-rolling-about-div h2 {
  margin: 10px;
}

.first-section-rolling-about-div-para {
  width: 90%;
  text-align: justify;
}

/* Review section css */

.user-review-section {
  display: flex;
  flex-wrap: wrap;
}

.user-section-heading-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.user-review-section-container {
  display: flex;
  gap: 2em;
}

/* Review user No.1 */

.user-1-review-section-div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fbfbfb;
  padding: 2em 1em 1em 2em;
  transition: 1s;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.1 hovr */

.user-1-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  padding: 2em 1em 1em 2em;
  transform: scale(102%);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-1-review-div {
  display: flex;
}

.user-1-review-div-para {
  display: flex;
  width: 90%;
}

.user-review-1-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-1-image-div {
  display: flex;
  width: 20%;
}

.user-review-1-image-div-image {
  width: 67%;
  height: 70%;
  border-radius: 41px;
}

/* Review user No.2 */

.user-2-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  padding: 2em 1em 1em 2em;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.2 hover */

.user-2-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  color: black;
  transform: scale(102%);
  border-radius: 10px;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-2-review-div {
  display: flex;
}

.user-2-review-div-para {
  display: flex;
  width: 100%;
}

.user-review-2-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-2-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.user-review-2-image-div-image {
  display: flex;
  width: 59%;
  height: 57%;
  border-radius: 41px;
}

.user-3-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 2em 1em 1em 2em;
  transition: 1s;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.3 */

.user-3-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  transform: scale(102%);
  padding: 2em 1em 1em 2em;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-3-review-div {
  display: flex;
}

.user-3-review-div-para {
  display: flex;
  width: 100%;
}

.user-review-3-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-3-image-div {
  display: flex;
  width: 20%;
}

.user-review-3-image-div-image {
  width: 67%;
  height: 70%;
  border-radius: 41px;
}

.user-review-section-container-2 {
  display: flex;
  padding-top: 2em;
  gap: 2em;
}

/* Review user No.4 */
.user-4-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  border-radius: 10px;
  width: 79%;
  transition: 1s;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.4 hover */

.user-4-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  color: black;
  transform: scale(102%);
  border-radius: 10px;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-4-review-div {
  display: flex;
}

.user-4-review-div-para {
  display: flex;
  width: 100%;
}

.user-review-4-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-4-image-div {
  display: flex;
  width: 20%;
}

.user-review-4-image-div-image {
  width: 62%;
  height: 65%;
  border-radius: 41px;
}

/* user review 5 */
.user-5-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  border-radius: 10px;
  transition: 1s;
  width: 75%;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.5 hover */

.user-5-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  transform: scale(102%);
  padding: 2em 1em 1em 2em;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-5-review-div {
  display: flex;
  width: 100%;
}

.user-5-review-div-para {
  display: flex;
  width: 100%;
}

.user-review-5-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-5-image-div {
  display: flex;
  width: 20%;
  height: 63%;
}

.user-review-5-image-div-image {
  display: flex;
  width: 73%;
  height: 82%;
  border-radius: 30px;
}

/* Review user No.6 */
.user-6-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  width: 80%;
  border-radius: 10px;
  transition: 1s;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.6 hover */

.user-6-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  transform: scale(102%);
  color: black;
  border-radius: 10px;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-6-review-div {
  display: flex;
}

.user-6-review-div-para {
  display: flex;
  width: 100%;
}

.user-review-6-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-6-image-div {
  display: flex;
  width: 20%;
  height: 87%;
}

.user-review-6-image-div-image {
  width: 74%;
  display: flex;
  height: 68%;
  border-radius: 41px;
}

/* Thank saying div */

.special-thank-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.thank-saying-div-container {
  display: flex;
}

.whatsapp-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.whatsapp-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.instagram-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.instagram-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.snapchat-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.snapchat-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.freshworks-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.freshworks-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.polypane-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.polypane-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}
