body {
  background-color: #f7faff;
  font-family: "Kanit", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

* body {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}
section {
  padding: 5em 3em;
}

.header-first-main-container {
  display: flex;
  padding: 12em 0.5em 3em 5em;
}

.header-first-main-container-control-div {
  display: flex;
  flex: 0.45;
}

.header-first-container-flex-div {
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.header-hello-user-div {
  display: flex;
}

/* hello user */

.header-hello-user-div-content {
  font-size: 30px;
  font-weight: 700;
}

/* joyfull user content */

.joyfull-div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.joyfull-div-content {
  font-size: 38px;
  font-weight: 800;
}

.joyfull-user-content-word {
  font-size: 38px;
  padding-top: 9px;
  color: rgb(44 87 151 / 75%);
  font-family: "Ewert", cursive;
}
.header-hello-user-div-image {
  width: 10%;
}

/* header-para */

.header-first-para-div {
  display: flex;
}

.header-first-para-div-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  text-align: justify;
}

/* free use button over */

/* header video start */

.header-video-container {
  display: flex;
  flex: 0.45;
  position: relative;
  perspective: 100px;
  height: auto;
}

.header-video-container-div {
  position: absolute;
  transform: rotateY(-4deg);
}

.header-video-container-div-video {
  display: flex;
  width: 101%;
}

/* message me */

.message-me-div {
  position: relative;
  cursor: pointer;
}

.message-me-div-image {
  top: 85%;
  transform: rotate(-5deg);
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgb(65 132 234 / 75%);
  width: 60px;
  height: 60px;
  background-size: 300% 100%;
  border-radius: 50px;
  position: fixed;
  right: 2%;
  transition: all 0.4s ease-in-out;
}

.message-me-div-image:hover {
  background-position: 100% 0;

  transition: all 0.4s ease-in-out;
}

/* free use button focus */

.message-me-div-image:focus {
  outline: none;
}

.head-its-trial-para {
  font-size: 18px;
  font-weight: 400;
}

/* section-first-div */

.section-whole-container {
  padding: 4em;
}

.section-first-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.everything-para {
  font-size: 19px;
  font-weight: 500;
}

.jolly-heading {
  font-size: 28px;
  font-weight: 600;
}

.feature-head-para {
  font-size: 22px;
  font-weight: 400;
  text-align: justify;
  width: 80%;
}

.first-section-container {
  display: flex;
  justify-content: space-between;
}

/* still feature start */

.first-section-container-still-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-section-container-still-div-image-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-container-still-div-image-div-image {
  width: 230px;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

  transition: transform 1s ease 0s;
}

/* still feature hover */

.first-section-container-still-div-image-div-image:hover {
  transform: perspective(3000px) rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.first-section-still-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-still-about-div-para {
  width: 80%;
  text-align: justify;
  font-size: 18px;
}

/* first section nest feature */

.first-section-nest-feature-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-section-container-nest-div-image-div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-container-nest-div-image-div-image {
  width: 260px;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

  transition: transform 1s ease 0s;
}

/* nest feature hover */

.first-section-container-nest-div-image-div-image:hover {
  transform: perspective(3000px) rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.first-section-nest-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-nest-about-div-para {
  width: 90%;
  text-align: justify;
  font-size: 18px;
}

/* first section rolling feature */

.first-section-container-rolling-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.first-section-container-rolling-div-image-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-container-rolling-div-image-div-image {
  width: 112px;
  transform: perspective(1500px) rotateY(15deg);
  border-radius: 1rem;

  transition: transform 1s ease 0s;
}

/* Rolling feature hover */

.first-section-container-rolling-div-image-div-image:hover {
  transform: perspective(3000px) rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.first-section-rolling-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-section-rolling-about-div h2 {
  margin: 10px;
}

.first-section-rolling-about-div-para {
  width: 90%;
  text-align: justify;
  font-size: 18px;
}

/* Review section css */

.user-review-section {
  display: flex;
  flex-wrap: wrap;
}

.user-section-heading-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.our-user-head {
  font-size: 28px;
  font-weight: 700;
}

.our-user-para {
  font-size: 22px;
  font-weight: 500;
}

.user-review-section-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

/* Review user No.1 */

.user-1-review-section-div {
  display: flex;
  width: 356px;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #fbfbfb;
  padding: 2em 1em 1em 2em;
  transition: 1s;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.1 hovr */

.user-1-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;

  padding: 2em 1em 1em 2em;
  transform: scale(102%);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-1-review-div {
  display: flex;
}

.user-1-review-div-para {
  display: flex;
  width: 90%;
}

.user-review-1-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-1-image-div {
  display: flex;
  width: 20%;
}

.user-review-1-image-div-image {
  width: 67%;
  height: 70%;
  border-radius: 41px;
}

/* Review user No.2 */

.user-2-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #107db5;
  color: white;
  padding: 2em 1em 1em 2em;
  border-radius: 10px;
  transition: 1s;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Review user No.2 hover */

.user-2-review-section-div:hover {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  color: black;
  transform: scale(102%);
  border-radius: 10px;
  padding: 2em 1em 1em 2em;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

.user-2-review-div {
  display: flex;
}

.user-2-review-div-para {
  display: flex;
  width: 100%;
}

.user-review-2-image-about-div {
  display: flex;
  align-items: center;
}

.user-review-2-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.user-review-2-image-div-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border-radius: 41px;
}

.user-3-review-section-div {
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 2em 1em 1em 2em;
  transition: 1s;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 5%),
    0 0 8px 0 rgb(0 0 0 / 3%), 0 20px 30px 0 rgb(0 0 0 / 10%);
}

/* Thank saying div */

.special-thank-heading-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
}

.thank-saying-div-container {
  display: flex;
}

.special-thank-head {
  font-size: 28px;
  font-weight: 700;
}

.special-thank-para {
  font-size: 22px;
  font-weight: 500;
}

.whatsapp-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.whatsapp-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.instagram-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.instagram-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.snapchat-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.snapchat-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.freshworks-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.freshworks-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

.polypane-logo-div {
  width: 58%;
  height: 25%;
  display: flex;
}

.polypane-logo-div-image {
  width: 58%;
  height: 25%;
  display: flex;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .header-first-main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10%;
    gap: 2em;
  }

  .header-first-main-container-control-div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .header-first-container-flex-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .header-hello-user-div {
    display: flex;
  }

  .header-hello-user-div-image {
    width: 6%;
  }

  .header-hello-user-div-content {
    font-size: 14px;
  }

  .joyfull-div {
    display: flex;
    align-items: center;
  }

  .joyfull-div-content {
    font-size: 14px;
    padding-top: 6px;
  }

  .joyfull-user-content-word {
    font-size: 14px;
  }

  .header- .header-first-para-div {
    display: flex;
    width: 100%;
  }

  .header-first-para-div-para {
    font-size: 12px;
  }

  .hero-section-button {
    width: 50%;
    height: 60%;
  }

  .try-para {
    font-size: 12px;
  }

  .head-its-trial-para {
    font-size: 11px;
  }
  .header-video-container {
    display: none;
  }

  /* section */

  section {
    display: flex;
    flex-direction: column;
    padding: 2em 1em 0em 1em;
  }

  .section-first-heading-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .everything-para {
    font-size: 14px;
  }

  .jolly-heading {
    font-size: 13px;
  }

  .feature-head-para {
    font-size: 11px;
    width: 100%;
  }

  /* feature div */

  .first-section-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .first-section-container-still-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .first-section-still-about-div {
    display: flex;
    flex-direction: column;
  }

  #capture {
    font-size: 14px;
  }

  .first-section-still-about-div-para {
    font-size: 11px;
  }

  .first-section-nest-feature-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .first-section-nest-about-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .first-section-nest-about-div-para {
    font-size: 11px;
  }

  .first-section-container-rolling-div {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
  }

  .first-section-rolling-about-div-para {
    font-size: 11px;
  }

  /* section */

  .section-whole-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* user-div */

  .user-review-section-container {
    display: flex;
    flex-wrap: wrap;
  }

  .user-review-section-container-2 {
    display: flex;
    flex-wrap: wrap;
  }

  /* special thanks */

  .special-thank-heading-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .special-thank-head {
    font-size: 14px;
  }

  .special-thank-para {
    font-size: 11px;
  }

  /* thanking image */

  .thank-saying-div-container {
    display: flex;
    padding-bottom: 2em;
  }
}
