.whole-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.whole-inside-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 2em;
}

/*user profile div */

.invite-above-content-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;
}

.invite-inside-profile-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  width: 96%;
}
.user-profile-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 2.8em;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}

.profile-image {
  width: 3em;
  height: 2.4em;
  border-radius: 50%;
}

/* user invite showing  container css */

.invite-div-control-container {
  display: flex;
  justify-content: center;
  width: 96%;
  border-radius: 10px;
  height: 45em;
  border: 1px solid grey;
}

/* invite showing div */

.user-invite-showing-div-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.invite-inside-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.invite-image {
  width: 90%;
  height: 40em;
}

/* invite result input div container */

.invite-result-input-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.invite-result-inside-div-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2em;
}

.invite-result-showing-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6.6em;
}

.result-inside-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77%;
  height: 6.6em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 12px;
}

/* chart div container */

.chart-div-container {
  display: flex;
  width: 95%;
  gap: 5em;
  height: 6.49em;
}

.chart-percentage-para {
  position: absolute;
  top: 25.9%;
  right: 35%;
  margin: 0;
  padding: 0;
  font-size: 89%;
}

.chart-div,
.chart-div-three,
.chart-div-two {
  position: relative;
}

.bi-hearts,
.bi-hand-thumbs-up-fill,
.bi-hand-thumbs-down-fill {
  position: absolute;
  right: 42%;
  bottom: 33%;
  color: #ccc;
}

/* invite update option div */

.invite-update-option-div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inivte-details-div {
  display: flex;
  align-content: center;
  justify-content: center;
}

.invite-update-option-div {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
}

#delete-invite-button,
#edit-button,
#save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 2.8em;
  width: 8.8em;
  border: 1px solid rgb(189, 216, 250);
  border-radius: 12px;
  gap: 1em;
  cursor: pointer;
  text-decoration: none;
}

#save-button {
  display: none;
}

/* invite inputs css */

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.invite-input-div-container {
  display: flex;
  width: 98%;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.invite-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* invite input css */

.inviteInput {
  width: 25em;
  height: 2em;
  border-radius: 4px;
  border: 1px solid grey;
}

#inviteGlimpse {
  width: 25em;
  height: 4em;
  border-radius: 4px;
  border: 1px solid grey;
}

#inviteExplanation {
  width: 25em;
  height: 13em;
  border-radius: 4px;
  border: 1px solid grey;
}

#inviteGlimpse,
#inviteExplanation {
  resize: none;
}

/* details showing element css */

.invite-details-showing-div-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 28em;
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.invite-details-inside-div-container {
  display: flex;
  justify-content: center;
  width: 99%;
  height: 100%;
}

.invite-details-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.invite-inside-inside-div {
  display: flex;
  flex-direction: column;
  width: 93%;
  height: 93%;
}

.content-remove-div {
  display: flex;
  align-items: center;
  width: 99%;
  justify-content: space-between;
}

.content-div {
  display: flex;
  align-items: center;
}

.bi-x-square-fill {
  color: #ccc;
  font-size: 1.4em;
  cursor: pointer;
}

.bi-x-square-fill:hover {
  color: #808080;
}

.invite-response-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.invite-inside-response-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

/* response memeber div */

.response-member-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.member-para {
  color: #808080;
}

/* response card container */

.responce-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 5em;
  background-color: rgb(227, 232, 243);
  border-radius: 7px;
}

.inside-response-card-div {
  display: flex;
  align-items: center;
  width: 96%;
  height: 4.7em;
  gap: 1.6em;
}

.response-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3em;
  height: 3.8em;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.response-image {
  width: 3.8em;
  height: 3.3em;
  border-radius: 50%;
}

.response-person-about-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.name-h3 {
  margin: 0;
  padding: 0;
  font-size: 96%;
  font-weight: 900;
}

.person-theme {
  margin: 0;
  padding: 0;
  font-size: 95%;
}
