body {
  background-image: linear-gradient(#d7e1ec, #ffffff);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 900px;
}

.div-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.main-div {
  width: 420px;
  height: 650px;
  border: black 3px solid;
  border-radius: 12px;
}

.content-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin: 20px;
}

.content-container-logo {
  width: 50%;
  padding-top: 25px;
}

.label-form {
  line-height: 55px;
}

#inputemail,
#inputpassword {
  padding: 7px 42px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}

#submit {
  padding: 7px 35px;
  border-radius: 5px;
  border: 1px solid grey;
}

.google-facebook {
  display: flex;
  justify-content: space-between;
}

.google-button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.facebook-button {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-left: 7px;
  border-radius: 5px;
}
