body {
  margin: 0;
  padding: 0;
}

.mention-whole-container {
  display: flex;
  align-items: center;
  margin: 3em 0em 0em 4.9em;
}

.mention-box-container {
  display: flex;
  justify-content: center;
  flex: 1.5;
  height: 829px;
}

.mention-box-inside-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 815px;
  overflow-y: scroll;
  margin-left: 2.5em;
}

.mention-box-inside-container::-webkit-scrollbar {
  display: none;
}

.mention-box-div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 2em;
}

.mention-box-inside-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.95;
  padding: 8px;
}

/* Pro image css */

.image-and-name-div {
  display: flex;
  align-items: center;
  gap: 2em;
}

.pro-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid greenyellow;
  width: 4em;
  height: 3.9em;
  border-radius: 2em;
}

.name-content-div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.name-content-div h3,
.name-content-div p {
  margin: 0;
}

.mention-profile-image {
  width: 3.4em;
  height: 3em;
  border-radius: 2em;
}

/* user mention media css */

.user-mention-media-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(118, 177, 248);
  width: 5em;
  height: 4em;
  border-radius: 8px;
}

.user-mention-media {
  width: 4em;
  height: 3.5em;
}

#hr {
  height: 900px;
}
/* display area css */
.display-container {
  display: flex;
  flex: 0.8;
}
