body {
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: auto;
  font-family: "Kanit", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

* a {
  text-decoration: none;
  color: black;
}

/* head */

.back-setting-profile-div {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em 0em 1em;
}

.previous-div {
  display: flex;
  width: 3%;
}

.previous-div-image {
  width: 100%;
  height: auto;
}

/* user profile div */
.profile-user-div {
  display: flex;
  gap: 2em;
}

/* setting image */

.setting-image {
  display: flex;
  width: 22%;
  height: 69%;
}

/* user profile image */

.user-profile-image {
  display: flex;
  width: 22%;
  height: 69%;
}

/* head profile finish */

/* rolling section */

.rolling-section-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 0.5em 2em 1em 2em;
  border-radius: 20px;
}

.rolling-members-div {
  display: flex;
  align-items: center;
  width: 35%;
  gap: 6%;
  padding: 0.8em;
}

/* trending bird */

.trending-bird-div {
  padding: 7px;
  display: flex;
  width: 21%;
  border: white 2px solid;
  border-radius: 74px;
}

.trending-bird-div-image {
  width: 67px;
  height: 61px;
  border-radius: 52px;
}

/* member div */

/* whole container start */

.whole-container {
  display: flex;
  margin: 0px 30px 100px 30px;
  gap: 2rem;
}

.first-main-member-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}

/* member-searchbar */

.first-section-search-bar-member-div {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.head-member {
  display: flex;
  justify-content: center;
  color: white;
  margin: 0px;
}

/* search bar */

.search-container {
  margin: 0px;
}

form {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 60%;
  height: 10%;
  padding: 9px 23px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 11%;
  background-color: black;
  padding: 3px 8px;
  margin: 8px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* chat members */
.member-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.members-div {
  margin: 19px;
}

.members {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  width: 100%;
  justify-content: space-between;
}

.member-image {
  width: 54px;
  height: 52px;
  border-radius: 30px;
}

.image-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.name {
  line-height: 1em;
}

.time-ago {
  width: 40%;
  margin-left: 40px;
}

.chat-container {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex: 2;
  row-gap: 2rem;
}

.chat-head-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 5px;
}

.vinit-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-left: 15px;
  font-weight: bold;
  flex: 2;
}

.vinit-anna {
  width: 54px;
  height: 52px;
  border-radius: 80px;
}

.call-div {
  display: flex;
  flex: 0.4;
  align-items: center;
  gap: 1.4rem;
}
.chat-call {
  height: 44%;
  width: 14%;
}

.convo-start {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.conversation-margin {
  margin: 30px;
}

.convos {
  display: flex;
  flex-direction: column;
  max-height: 470px;
  overflow-y: scroll;
}

.convos::-webkit-scrollbar {
  display: none;
}

.hello-anna {
  display: flex;
  width: 95%;
  justify-content: end;
}

.chat {
  background-color: rgb(59, 5, 64);
  color: white;
  padding: 7px 20px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 10px;
}

.yes-susi {
  display: flex;
  justify-content: start;
}

/* emoji css */
.emoji-div {
  display: flex;
  align-items: center;
}

.emoji-div-image {
  width: 80%;
}

.textarea {
  display: flex;
  margin: 20px;
}

#text {
  width: 100%;
  padding: 6px 7px;
  border-radius: 21px;
  resize: none;
}

#text::-webkit-scrollbar {
  display: none;
}

#text::placeholder {
  color: grey;
  vertical-align: center;
  font-size: 17px;
}

.text-div {
  width: 100%;
  display: flex;
  flex: 2.4;
}

/* file upload icon */

.file-upload-image {
  display: flex;
  width: 22%;
}

/* send icon */

.send-div {
  width: 30%;
  display: flex;
  flex: 0.7;
  align-items: center;
  justify-content: center;
  gap: 8%;
}

/* send-image */

.send-message-icon {
  display: flex;
  width: 22%;
}

/* mike image */

.send-div-mike-image {
  display: flex;
  width: 24%;
}
