body {
  margin: 0;
  padding: 0;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #2ec866;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 4em;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--sidebar-color);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.nav-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 3.92em;
}

.nav-inside-div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 3.8em;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 10em;
  height: 2.5em;
}

/* logo and name div */

.profile-name-image-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name-inside-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.4em;
}

.profile-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid grey;
  width: 3.5em;
  height: 3em;
}

.profile-image {
  width: 3em;
  height: 2.5em;
  border-radius: 50%;
}

/* section for all div below the nav-bar */

.all-div-container {
  display: flex;
  margin-top: 3.2em;
  flex: 1;
}

/* side bar */

.side-bar-div-container {
  display: flex;
  justify-content: center;
  width: 14em;
  box-shadow: 0 0 27px 0 rgba(214, 231, 233, 0.52);
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 830px;
}

.side-bar-inside-div-container {
  display: flex;
  align-items: center;
  width: 99%;
  margin-top: 2em;
}

.side-bar-ul {
  display: flex;
  height: 788px;
  flex-direction: column;
  gap: 1em;
}

.nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 14px;
}

/*  */
