body {
  background-color: #f7faff;
  font-family: kanit;
}

.main-div {
  width: 420px;
  height: 750px;
  border: black 3px solid;
  border-radius: 12px;
}

.div-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
}

.nest-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2em;
  width: 100%;
  height: 100%;
}

.nest-div-logo {
  width: 50%;
  padding-top: 25px;
}

.form-label {
  width: 100%;
  height: 100%;
  line-height: 61px;
  text-align: center;
}

.google-facebook {
  display: flex;
  justify-content: space-between;
}

#fname {
  padding: 10px 10px;
  margin-left: 35px;
}

#sname {
  padding: 10px 35px;
  margin-top: 33px;
}

.google-button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.facebook-button {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  margin-left: 7px;
  border-radius: 5px;
}
