body {
  background-color: #f7faff;
  font-family: kanit;
}

* {
  margin: 0;
  padding: 0;
}

.hero-section-container {
  display: flex;
  flex: 1;
  padding-top: 10em;
  margin: 1em 1em 3em 5em;
}

.hero-section-content-container {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}

.hero-section-video-container {
  display: flex;
  flex: 1;
}

.hero-section-video-div {
  display: flex;
  flex: 1;
}

.hero-section-video-div-video {
  width: 98%;
}

/* section-second start */
.section-second-container {
  display: flex;
  flex: 1;
  padding: 6em 3em 4em 3em;
}

.section-second-para-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section-second-video-container {
  display: flex;
  flex: 1;
}

.section-second-video-div {
  display: flex;
  flex: 1;
}

.section-second-video-div-video {
  width: 90%;
}
