body {
  background-color: #f7faff;
  font-family: "Kanit", sans-serif;
}

:root {
  --nav-brown: #d1e8e2;
  --violet: #25274d;
  --light-blue: #88bdbc;
}

.communication-container {
  display: flex;
  justify-content: space-between;
  padding: 93px 7px 101px 10px;
  flex: 3;
  height: 500px;
}

.call {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 20px;
}

.call-content-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.three-image {
  display: flex;
  flex: 1;
}

.first-image {
  width: 70%;
}

.voice-call {
  margin-top: 20px;
  margin-bottom: 1px;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.call-content {
  width: 73%;
  display: flex;
  justify-content: center;
}

.video {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 30px;
}

.video-content {
  width: 75%;
  display: flex;
  justify-content: center;
}

.video-content-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 30px;
  margin-right: 20px;
}

.email-content-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email-content {
  width: 75%;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #3c3e3e;
  height: auto;
}
.footer-container-div {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 20px 50px;
}

.footer-nest-image {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-bird {
  width: 50%;
}

.footer-about {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-features {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-download {
  display: flex;
  flex-direction: column;
  flex: 1;
}

* footer a {
  color: white;
}
