body {
  margin: 0;
  padding: 0;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

.option-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 2%;
  gap: 1em;
  right: 1%;
  width: 58px;
  height: 10em;
}
.bi-brightness-high-fill {
  color: #fff;
  font-size: 2em;
}

.fa-photo-video {
  color: #fff;
  font-size: 1.5em;
}

.camera-div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.capture-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 46%;
  right: 2%;
  height: 3.5em;
  width: 58px;
  border-radius: 4.3em;
  border: 2px solid #fff;
}

.capture-div:hover {
  background-color: #fff;

  transition: 1s ease;
}

.fa-camera {
  color: #fff;
}
.fa-camera:hover {
  color: black;
  transition: 0.6s ease;
}

.adjustment-div {
  background-color: #fff;
  box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px,
    rgb(255 255 255 / 80%) -6px -2px 16px 0px;
  width: 281px;
  height: 141px;
  border-radius: 5px;
  display: flex;
  position: absolute;
  top: 3%;
  right: 115%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  display: none;
}

#brightness-container,
#contrast-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* filter capture button */

.filter-capture {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 43%;
  width: 300px;
}
.filter-capture::-webkit-scrollbar {
  display: none;
}

/* circle icon */

.fa-circle {
  font-size: 4em;
  color: #fff;
}

#photo-filters {
  display: flex;
  /* overflow-x: scroll; */
  width: 200px;
  height: 30px;
}
